
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --accent-color: #d52c3a;
    --primary-color: #1B1C1F;
    --secondary-color: #101113;
    --text-color: #d9d9d9;
    --secondary-text-color: #7f8082;
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
    opacity: 1;
}

header nav {
    width: 700px;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
}

header img {
    width: 30px;
    background-color: var(--accent-color);
    display: none;
}

nav a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 1.25rem;
    transition: 0.3s;
}

nav a:hover {
    color: var(--secondary-text-color);
}

@media(max-width:600px)  {
    header nav {
        display: none;
    }

    header #menu {
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
    }
}

main, section{
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

main img {
    height: 85vh;
    border-radius: 30px;
}

main .container {
    width: 850px;
    margin-left: 20px;
}

main h1 {
    margin-top: 150px;
    font-size: 4rem;
}

main h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

main p {
    color: var(--secondary-text-color);
    margin-bottom: 1rem;
}

main .read-more {
    padding: .5em 1.25em;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 1000px;
    margin-bottom: 80px;
    transition: 0.3s;
}

main .read-more:hover {
    background-color: var(--secondary-color);
}

@media(max-width:1000px){

    main {
        flex-wrap: wrap-reverse;
    }

    main .container {
        text-align: center;
        margin-top: 0;
    }

    main img {
        margin-top: 10px;
    }
    main h1 {
        margin-top: 70px;
        font-size: 3rem;
    }
}

@media(max-width:1000px){
    main {
        padding-top: 50px;
    }
}

@media(max-width:600px){
    main{
        padding-top: 70px;
    }
    main img {
        height: 60vh;
    }
}

#skill-set {
    background-color: var(--secondary-color);
    padding: 80px 20px 150px 20px;
}

#skill-set h2 {
    font-size: 3rem;
    text-align: center;
}

#skill-set .wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.skill-container {
    width: 400px;
    max-width: 100%;
    border: 10px solid var(--primary-color);
    border-top: none;
}

.skill-container h3 {
    background-color: var(--primary-color);
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.skill-container ul {
    margin: 10px 0;
    list-style: none;
}

.skill-container ul li {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.skill-container ul li progress {
    accent-color: var(--accent-color);
}

#project-section {
    padding: 100px 20px;
}

#project-section h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 60px;
}

details {
    margin: 20px auto;
    width: 1000px;
    max-width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

details summary {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    padding: 30px;
}

details .number {
    background-color: var(--accent-color);
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 700;
}

details h3 {
    font-size: 1.75rem;
}

details .text-container {
    padding: 0 30px 30px;
}

details .project-link {
    display: inline-block;
    margin-top: 30px;
    padding: .75em 1.5em;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

details .project-link:hover {
    background-color: var(--primary-color);
}